<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Sign Up</title>
</head>
<body>
    <h1>{{content}}</h1>

    <form action="http://127.0.0.1:5000/{{position}}" method="POST">
    <label>Email:</label>
    <input type="email" placeholder="email" name="email" value=""><br>
    <labe>Username:</labe>
    <input type="text" placeholder="username" name="username" value=""><br>
    <label>Password:</label>
    <input type="password" placeholder="password" name="password" value=""><br>
    <label>First name:</label>
    <input type="text" placeholder="first name" name="first_name" value=""><br>
    <lable>Last name:</lable>
    <input type="text" placeholder="last name" name="last_name" value=""><br>
    <button type="submit">Sign Up</button>
    </form>

</body>
</html>